name = "TSviews"
uuid = "799c754c-8754-4cd1-bf0b-1e2c4f3d5111"
authors = ["petedmccallum"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
